html{
h2 {

    font-size: 1em;
    font-weight: 100%;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    background-color: #fff;
    color: #ffe9e6;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
body {

    font-family: 'Nunito', sans-serif;
    font-weight: 100%;
    line-height: 1.42em;
    color: #FFFFFF;

}
button{
    border-radius: 10px;
    height: 45px;
    width: 150px;
    text-align: center;
    background-color: #5b5466;
    font-size: 15px;
    color: #ffffff;
}
input{
    height: 35px;
    font-size: 15px;
}
table {
    border-collapse: collapse;;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 100%;
    line-height: 2em;
    color: #f7c6c5;
    background: #A7A1AE;
    padding: 20px;


}
th, td {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    border: 5px groove #ccc /* Граница между ячейками */
}
th {
    background-color: #6c757d;
    color: white;
    font-style: bold;
    font-size: 35px;
}
a {
    color: #FFE8E6;
} /* link color */
}